*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
ViePEP_C.iml
viepep4.0.properties
container.properties
mysql.properties
messagebus.properties
slack.properties
.idea
*.iml
*.log
log
target
src/main/resources/cloud-config/*.json 
src/test/resources/cloud-config/*.json
containerimages.xml
action-executor/.mvn
cloud-controller/.mvn
database/.mvn
engine/.mvn
library/.mvn
scheduler/.mvn
scheduler/frincu/.mvn
scheduler/geco/.mvn
scheduler/geco_vm/.mvn
scheduler/scheduler_library/.mvn
service-executor/.mvn
