<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property resource="slack-config/slack.properties" />

    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${slack.webhook}</webhookUri>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    
    <root>
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ASYNC_SLACK" />
    </root>

    <logger name="at.ac.tuwien.infosys.viepepc" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ASYNC_SLACK" />
    </logger>

</configuration>